html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(254, 235, 243);
    font-family: raleway;
}

/* Nav bar */
nav {
    background-color: #feebf3;
    width: 100%;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
    padding:0 50px;

}

nav li {
    display: inline;
    text-decoration: none;
    width: fit-content;
    margin-right: 20px;

}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 5px;
    margin-top: 5%;
}

/* classes & IDs */
.container {
    margin-top: 100px;
    top:20px;
    padding-bottom:15%;
    background-color: #feebf3;

}

.hero {
    padding-bottom: 10%;;
}
.hero h1 {
    margin-top: 17%;    
    font-size: 3rem;
    margin-left: 10%;

}

.about {
    background-color: rgb(238, 252, 255);
    margin-left:0%;
    margin-right:0%;
    padding-bottom: 5%;
    border-radius: 10px;

}
  
  
p {
    padding-top: 0;
    font-size: 2rem ;
    margin-left: 10%;
    margin-right:10%;
    padding-left:5%;

}


h2 {
    font-size: 40px;
    margin-left: 15%;
    padding-bottom:1%;
    padding-top: 10%;

}

button {
    margin-left: 15%;
    padding:1%;
    border-radius: 10px;
    background-color: #798ffb;
    color: white;
    font-size: 1.7rem;
    border-color: whitesmoke;


}

/* Portfolio Section */
.portfolio {
    background-color: #ffffff; / Soft pastel green */
    padding-left: 5%;
    border-radius: 12px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 5%;
}

.portfolio h2 {
    margin-bottom: 20px;
    padding-top: 5%;
}

.p-tiles {
    margin-left: 15%;
    margin-right: 20%;
}
.project-tile {
    display: inline-block;
    width: 270px;
    height: 150px;
    padding-left:25px;
    margin-right:5%;
    background-color: #bdb2ff; /* Soft blue-purple */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    vertical-align: top;
    align-items: center;
    overflow-x: auto;
}

/* CONTACT SECTION */
.contact {
    background-color: rgb(255, 251, 245);
    border-radius: 20px;
    width: 100%;
    padding-bottom: 5%;
}

.contact h2 {
    margin-top: 0;
    padding-top: 5%;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,  .contact textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;

}

.contact button {
    background-color: bisque;
    border: none;
    padding: 10px;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}






